**/node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.env*
db.sqlite3
db.sqlite3-journal
*.log
*.git
*.github
docker-compose.yml
docker-compose.debug.yml
Makefile
openapi-generator-config.yaml
openapi.json
README.md
.gitignore
*.env*