name: Code Quality Checks
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install ruff pylint
    - name: Run Ruff Format
      run: |
        ruff format --check .
    - name: Run Ruff Check
      run: |
        ruff check .
    - name: Run Pylint
      run: |
        pylint . --fail-under=10